<div class="row">
  <div class="col-12">
    <div id="blog-main" class="table-responsive">
      <table class="table table-striped sl-table">
        <colgroup>
          <col>
          <col>
          <col>
          <col>
        </colgroup>
        <thead class="thead-default">
        <tr>
          <th><%= t(:user_id, scope: [:activerecord, :attributes, :notice]) %></th>
          <th><%= t(:title, scope: [:activerecord, :attributes, :notice]) %></th>
          <th class="text-end"><%= t(:label_count) %></th>
          <th class="text-end"><%= t(:created_at, scope: [:activerecord, :attributes, :notice]) %></th>
        </tr>
        </thead>
        <tbody>
        <% unless @notice_count.zero? %>
          <% @notices.each do |notice| %>
            <tr>
              <td><%=display_user_photo(notice.user) %>&nbsp;&nbsp;<%= notice.user.nickname.truncate_bytes(16) %></td>

              <td><%= link_to notice.title, notice %></td>
              <td class="text-end"><%= notice.impressionist_count(:filter => :ip_address) %></td>
              <td class="text-end text-secondary"><%= time_ago_in_words notice.created_at.to_date %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="6"><%= t(:no_data) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div id="sl_bottom_menu">
        <%= paginate @notices %>
      </div>
    </div>
  </div>
  <% if admin_signed_in? %>
  <div class="col-12">
    <%=link_to t(:link_new),new_notice_path,class: 'btn btn-primary btn-large' %>
  </div>
    <% end  %>
</div>