<section id="notices">
  <div class="row">
    <div class="col-12">
      <h2 class="float-start d-none d-lg-block"><%= t(:notice,scope: [:activerecord,:models]) %></h2>
      <div class="float-end">
        <p class="summary text-end">
          <span id="list_count" style="display:none"><%= @notice_count %></span>
          <%= raw t(:there_are_n_notices, count: @notice_count) %>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped sl-table">
          <colgroup>
            <col>
            <col>
            <col class="none d-lg-table-cell">
          </colgroup>
          <thead class="thead-default">
          <tr>
            <th><%= t(:title, scope: [:activerecord, :attributes, :notice]) %></th>
            <th class="text-end"><%= t(:label_count) %></th>
            <th class="text-end d-none d-lg-table-cell"><%= t(:created_at, scope: [:activerecord, :attributes, :notice]) %></th>
          </tr>
          </thead>
          <tbody>
          <% unless @notice_count.zero? %>
            <% @notices.each do |notice| %>
              <tr>
                <td><%= link_to notice.title, notice %></td>
                <td class="text-end"><%= notice.impressionist_count(:filter => :ip_address) %></td>
                <td class="text-end text-secondary d-none d-lg-table-cell"><%= time_ago_in_words notice.created_at.to_date %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="4"><%= t(:no_data) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <div id="sl_bottom_menu">
          <%= paginate @notices %>
        </div>
      </div>
    </div>
  </div>
</section>
