<div class="col-12">
  <%= form_with(model: blog, local: true) do |form| %>
    <% if blog.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <h2><%= pluralize(blog.errors.count, "error") %> prohibited this request from being saved:</h2>
        <ul>
          <% blog.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-row">
      <article class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="form-row">
              <div class="col-12 form-group">
                <%= form.label :blog_category_id, :class => 'control-label' %>
                <%= form.select :blog_category_id, options_from_collection_for_select(BlogCategory.where(:enable => true), 'id', 'title', @blog.blog_category_id), {}, { :class => "form-control input-lg" } %>
              </div>
            </div>

            <div class="form-row">
              <div class="col-12 form-group">
                <%= form.label :title, :class => 'control-label' %>
                <%= form.text_field :title, {:class => "form-control"} %>
              </div>
              <div class="col-12 form-group">
                <%= form.fields_for :blog_picture  do |pp| %>
                    <%= pp.label :picture %>
                    <%= pp.file_field :picture, :class => "form-control-file" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </article>
      <div class="col-12 form-group">
        <h3><%= form.label :content %></h3>
        <%= form.rich_text_area :content, style: 'min-height:20em' %>
      </div>
      <div class="col-12 form-submit">
        <%= form.submit :class => 'btn btn-primary btn-block btn-lg' %>
      </div>
    </div>
  <% end %>
</div>