<div class="col-12">
<%=form_tag blogs_path,{method:'get'} do %>
  <input type="hidden" name="search" value="1">
    <%
      search_params={search_detail:true}

      aa_class='nav-link'
      if @blog_category.present?
        search_params[:category]=@blog_category
      else
        aa_class+=' active'
      end
      %>
    <select name="category" class="form-control mobile-sub-menu d-block d-lg-none"<% if params[:search_form_show].present? %> style="display:block !important;"<% end %>>
      <option><%=t(:all) %></option>
      <% unless @blog_categories.empty? %>
        <% @blog_categories.each do |blog_category|
          a_class=''

          if @blog_category.present?
            if @blog_category.id==blog_category.id
              a_class=' selected'
            end
          end

          if blog_category.blogs_count.zero?
            a_class=' disabled'
          end
        %>
          <option value="<%=url_for(:category=>blog_category) %>"<%=a_class %>><%= blog_category.title %></option>
        <% end %>
      <% end %>
    </select>
    <nav class="sub_nav d-none d-lg-block">
      <ul class="nav nav-pills">
        <li class="nav-item"><%=link_to t(:all),blogs_path,class: aa_class %></li>
        <% @blog_categories.each do |blog_category|
          a_class='nav-link'

          if @blog_category.present?
            if @blog_category.id==blog_category.id
              a_class+=' active'
            end
          end

          if blog_category.blogs_count.zero?
            a_class+=' disabled'
          end

        %>
          <li class="nav-item">
            <%=link_to url_for(category: blog_category),{:class=>a_class} do %>
              <%=blog_category.title %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  <%=link_to blogs_path(search_params),id: "search-detail" do %><span class="material-icons">search</span><%=t(:search) %><% end  %>
  <!-- <%=submit_tag t(:search),class: 'btn btn-primary btn-block btn-search' %> -->
  <% end %>
</div>