<section id="show-admin" class="container">
  <div class="row">
    <h2 class="col-12 di-title"><%= t(:show_admin) %></h2>
  </div>
  <div class="row">
    <%= render :partial => 'layouts/notice', :locals => { :notice => notice, :alert => alert } %>
  </div>
  <div class="row">
    <%= render :partial => 'aside' %>
    <div class="col-12 col-lg-7 col-xl-8 col-xxl-9 user_sub">
      <section class="row user-content-section">
        <div class="col-12">
          <h2 class="di-title"><%= t(:admin_detail) %></h2>
          <% if @admin.nil? %>
            <%= render :partial => 'not_found' %>
          <% else %>
            <%= render :partial => 'nav' %>
            <%= render :partial => 'content' %>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</section>