<section id="main_main">
	<section class="row">
		<%= render :partial => 'intro/index' %>
		<%= render :partial => 'galleries/index' %>
		<%= render :partial => 'blogs/index' %>
		<%= render :partial => 'notices/index' %>
	</section>
</section>
<% content_for :json_ld do %>
	<script type="application/ld+json">
		<%= raw(JSON.pretty_generate(json_ld_tag())) %>
	</script>
<% end %>