<%= form_for @history do |f| %>
	<% if @history.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@notice.errors.count, "error") %> prohibited this notice from being saved:</h2>
		<ul>
			<% @history.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="form-group">
		<%= f.label :year, class: 'form-label fs-5' %><br />
		<%= f.select :year, options_for_select((Date.current.year - 100..Date.current.year).to_a.reverse, f.object.year), {}, class: 'form-control form-control-lg', required: true %>
	</div>
	<div class="form-group">
		<%= f.label :month, class: 'form-label fs-5' %><br />
		<%= f.select :month, options_for_select([["필요하면 선택하세요", ""]] + (1..12).map { |m| [m, m] }, f.object.month), {}, class: 'form-control form-control-lg' %>
	</div>
	<div class="form-group">
		<%= f.label :title, class: 'form-label fs-5' %><br />
		<%= f.text_field :title, :class=>'form-control form-control-lg', :required=>'required' %>
	</div>
	<div class="form-group">
		<%= f.label :content, class: 'form-label fs-5' %><br />
		<%= f.text_area :content, :class=>'form-control form-control-lg', :required=>'required', :id => "sl_content" %>
	</div>
	<div class="d-grid gap-2">
		<%= f.submit :class => 'btn btn-lg btn-primary' %>
	</div>
<% end %>
