<% breadcrumb :histories %>
<section id="sl_history_index">
		<h2>약력</h2>
			<% unless @histories.empty? %>
			<% @histories.each do |history| %>
			<article class="media p-3 p-lg-5 rounded-4 lh-lg mb-3">
				<dl>
			<dt>
				<%=history.year %><%=t(:year) %>
				<% if history.month %>
				<%= history.month %><%=t(:month) %>
				<% end %>
			</dt>
			<dd>

				<b><%=history.title %></b>
				<%=simple_format(history.content) %>
			<% if user_signed_in? %>
			<% if current_user.admin? %>				
				<div class="history_menu">
					<%= link_to t(:link_edit), edit_history_path(history) %> &nbsp; | &nbsp; <%= link_to t(:link_delete), history, method: :delete, data: { confirm: t(:delete_confirm) } %>
				</div>
			<% end %>
			<% end %>
				</dd>
			</article>
			<% end %>
			<% end %>
	<% if admin_signed_in? %>
		<%= link_to t(:link_new), new_history_path %>
	<% end %>
</section>