<section id="show-contact" class="col-12">
  <div class="row">
    <%= render :partial => 'layouts/notice', :locals => {  :notice => notice, :alert => alert } %>
  </div>
  <div class="row">
    <div class="col-12">
      <article class="card">
        <h3 class="card-header"><%=@contact.title %></h3>
        <div class="card-body">
          <dl>
            <dt><%= t(:content, scope: [:activerecord, :attributes, :contact_content]) %></dt>
            <dd><%=@contact.contact_category.title %></dd>
            <dt><%= t(:content, scope: [:activerecord, :attributes, :contact_content]) %></dt>
            <dd><%= simple_format @contact.contact_content.content %></dd>
            <dt><%= t(:created_at, scope: [:activerecord, :attributes, :contact]) %></dt>
            <dd><%= I18n.l @contact.created_at.to_date, :format => :long %></dd>
            <dt><%= t(:updated_at, scope: [:activerecord, :attributes, :contact]) %></dt>
            <dd><%= I18n.l @contact.updated_at.to_date, :format => :long %></dd>
          </dl>
        </div>
      </article>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xl-6">
      <%= link_to t(:link_list), admin_contacts_path, class: 'btn btn-secondary' %>
    </div>
    <div class="col-12 col-xl-6 text-right">
      <%= link_to t(:edit), edit_admin_contact_path(@contact), class: 'btn btn-secondary' %>
      <%= link_to t(:delete), admin_contact_path(@contact), :method => :delete, :data => { :confirm => t(:delete_confirm) }, class: 'btn btn-danger' %>
    </div>
  </div>
</section>
